.add {
  background-color: #eee;
  color: #000;
}
.add:hover {
  background-color: #eee;
}
.butt {
  width: 475px;
  height: 35px;
  border-radius: 8px;
  padding-left: 8px;
}
.des {
  width: 475px;
  height: 112px;
  border-radius: 8px;
  padding-left: 8px;
  padding-top: 8px;
}

@media screen and (max-width: 430px) {
  .add {
    margin-left: 10px;
    width: 110px;
    font-size: 12px;
  }
}
